</main>
<div id="footer">
    <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
    <span id="hitokoto"></span>
</div><br>
<div>
    <p><b>友情链接</b>：<span><a href="https://dtz9.org/" 
            target="_blank">大头针网址</a></span> | <span><a href="https://book.tstrs.me/" 
                target="_blank">i-Book.in</a></span></p>
<div><br>
<center>&copy; 2019 - 2020 大头针</center>
<script src="//instant.page/3.0.0" type="module" defer
        integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>

</html>